/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    overflow-y: hidden;
    box-sizing: border-box;
}



/* fonts */


/* colors */
:root{

}

html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body{
    background: linear-gradient(116deg, #8B8989 2.07%, #8B6F6F 46.38%, #67668D 90.68%);
}
/* content div, overall grid layout */
#content{
    display:grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 450px 900px 200px 1fr;
    grid-template-rows: 1fr 100px 700px 2fr;
    grid-template-areas: 
    ". . . . ."
    ". . mainApp . ."
    ". projectsList mainApp . ."
    ". . . . ."
    ;
}

/* main app area */
.mainApp{
    grid-area: mainApp;
    display: flex;
    flex-direction: column;
}
.displayedProject{
    height: 18%;
    width: 100%;
}
.taskListContainer{
    display: grid;
    grid-template-rows: 15% 70% 1fr;
    height: 82%;
    width: 100%;
    background: #DFDFDF;
    mix-blend-mode: overlay;
    border: 2px solid #000000;
    border-radius: 49px;
}

.taskList{
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-rows: 70px 70px 70px; */
    grid-auto-rows: 80px;
    overflow-y: scroll;
}

/* nav area */
.projNav{
grid-area: projectsList;
}